.button {
  padding: 10px 10px;
  min-width: 200px;
  min-height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $buttonTextColor;
  background-color: $accent;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: backgroud-color $animation;

  &:hover,
  &:focus {
    background-color: $buttonHoverColor;
  }

  &--icon::after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../../images/icons/send-1.svg);
  }

  &--send {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
