.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  display: flex;
  width: calc(50% - 15px);
  height: 92px;

  @include tablet {
    width: 226px;
  }

  @include desktop {
    width: 170px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 210px;
  // height: 92px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color $animation, border $animation;

  &:hover,
  &:focus {
    border-color: $accent;
    color: $accent;
  }

  @include litle {
    width: 100%;
  }

  @include tel {
    min-width: 210px;
  }

  @include tablet {
    // width: 226px;
    // width: inherit;
    // width: 100%;
  }

  @include desktop {
    width: 170px;
    min-width: 0;
  }
}

.client__icon {
  fill: currentColor;
}
