.header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;

  @include tablet {
    padding: 0;
  }
}

.navigation {
  // display: flex;
  // align-items: center;
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }

  @include desktop {
    margin-left: 93px;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;
    text-decoration: none;
    transition: color $animation;

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}

.contacts-list {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }

  @include desktop {
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    display: inline-flex;
    align-items: center;

    &:not(:first-child) {
      // margin-left: 50px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primaryTextColor;
    text-decoration: none;
    transition: color $animation;

    &:hover,
    &:focus {
      color: $accent;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.center {
  align-items: center;
  justify-content: space-between;
}

.mob-menu {
  position: absolute;
  background-color: #fff;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }

  &__link {
    text-decoration: none;
    color: $secondaryTextColor;

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}

.mob-menu {
  @include tablet {
    display: none;
  }
}

.mob {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 48px;
}

.mob-menu-contacts-list {
  margin-top: auto;
  margin-bottom: 64px;
}

.mob-menu-contacts-list__item:first-child {
  margin-bottom: 32px;
}

.mob-menu-contacts-tel {
  text-decoration: none;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $accent;
}

.mob-menu-contacts-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primaryTextColor;
}

.mob-menu-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  @include tel {
    gap: 5px;
  }
}

.mob-menu-social-item {
  display: flex;
  align-items: center;
}

@include tel {
  .mob-menu-social-item + .mob-menu-social-item::before {
    content: "";
    display: inline-flex;
    text-align: start;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);

    transform: rotate(90deg);
    margin-right: 5px;
  }
}

.mob-menu-social-link {
  color: $accent;
}

.current {
  color: $accent;

  @include tablet {
    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      background-color: $accent;
      border-radius: 2px;
    }
  }
}
