.peculiarities {
  @include desktop {
    padding-bottom: 0;
  }
}

.peculiarities__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.peculiarities__item {
  max-width: 100%;

  & + & {
    margin-top: 30px;
  }

  @include tablet {
    flex-basis: calc(50% - 15px);
    & + & {
      margin-top: 0;
    }
  }
}

.peculiarities__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondaryTextColor;
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.peculiarities__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
  height: 120px;
  background-color: $secondaryBackgroundColor;
  border-radius: 4px;

  @include desktop {
    width: 270px;
  }
}
