.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    background-color: $backgroundColor;

    width: 100%;

    @include mid {
      flex: 1 1 calc((100% / 2) - 30px);
      &:last-child {
        flex: 0 0 calc(50% - 15px);
      }
    }

    @include desktop {
      flex: 1 1 calc((100% / 3) - 30px);
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    transition: box-shadow $animation;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .card-list__overlay,
    &:focus .card-list__overlay {
      transform: translateY(0);
    }

    @include mid {
      display: flex;
      flex-direction: column;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $buttonTextColor;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform $animation;
  }

  &__border {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    @include mid {
      flex-grow: 1;
    }
  }

  &__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $secondaryTextColor;
  }

  &__type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $primaryTextColor;
  }
}
