.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 50px;
    font-weight: bold;
    // font-size: 36px;
    // line-height: 42px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;

    &.client {
      margin-bottom: 30px;
    }

    @include desktop {
      font-size: 36px;
      line-height: 1.17;
    }
  }

  &.hide {
    display: none;

    @include desktop {
      display: block;
    }
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
}

.current {
  color: $accent;
}

.margin:not(:first-child) {
  margin-left: 10px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1200px;
  // outline: 2px solid tomato;

  @include tel {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.flex {
  display: flex;
  align-items: baseline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
