$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$accent: #2196f3;
$backgroundColor: #ffffff;
$buttonTextColor: #ffffff;
$footerBackgroundColor: #2f303a;
$secondaryBackgroundColor: #f5f4fa;
$footerLinksColor: rgba(255, 255, 255, 0.6);
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$buttonHoverColor: #188ce8;
